<ion-view view-title="Planos Mensais" class="planos-tradicionais-l4">      
    <ion-tabs class="tabs-positive tab-cadastrar">         
        <ion-tab title="Linha Tradicional" ui-sref="app.planos-tradicionais-l4-tradicional" align-title="center">
            <ion-nav-view  name="leilao-em-andamento"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Linha Pro" ui-sref="app.planos-tradicionais-l4-planos-pro-l4-1" ui-sref="app.planos-tradicionais-l4-planos-pro-l4-1"align-title="center">
            <ion-nav-view  name="leilao-em-ancerrado"></ion-nav-view>
        </ion-tab>
        <ion-content class="animate-fade-slide-in"  ng-controller="CadastroVendedorCtrl">  
    </ion-tabs>    
</ion-view> 