<ion-modal-view class="custom_modal">
    <ion-header-bar class="bar bar-header bar-light">
        <h1 class="title">ESCOLHA O ESTADO</h1>        
    </ion-header-bar>
    <ion-content overflow-scroll=true class="padding estado-modal">
        <div class="content-itens">
                <ul class="radio-ps">
                    <li>
                        <div class="row">
                            <input type="radio" name="estado"/>
                            <label for="estado">Acre</label>
                            <div class="check">
                                <div class="checked"></div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="row">
                            <input type="radio" name="estado"/>
                            <label for="estado">Alagoas</label>
                            <div class="check">
                                <div class="checked"></div>                                
                            </div>
                        </div>
                    </li>
                    <li>                
                        <div class="row">
                            <input type="radio" name="estado"/>
                            <label for="estado">Amapa</label>
                            <div class="check">
                                <div class="checked"></div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="row">
                            <input type="radio" name="estado"/>
                            <label for="estado">Amazonas</label>
                            <div class="check">
                                <div class="checked"></div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="row">
                            <input type="radio" name="estado"/>
                            <label for="estado">Bahia</label>
                            <div class="check">
                                <div class="checked"></div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="row">
                            <input type="radio" name="estado"/>
                            <label for="estado">Ceara</label>
                            <div class="check"></div>
                        </div>              
                    </li>
                    <li>
                        <div class="row">
                            <input type="radio" name="estado"/>
                            <label for="estado">Distrito Federal</label>
                            <div class="check">
                                <div class="checked"></div>
                            </div>
                        </div>              
                    </li>
                    <li>
                        <div class="row">
                            <input type="radio" name="estado"/>
                            <label for="estado">Espirito Santo</label>
                            <div class="check">
                                <div class="checked"></div>
                            </div>
                        </div>              
                    </li>
                    <li>
                        <div class="row">
                            <input type="radio" name="estado"/>
                            <label for="estado">Goias</label>
                            <div class="check">
                                <div class="checked"></div>
                            </div>
                        </div>              
                    </li>
                    <li>
                        <div class="row">
                            <input type="radio" name="estado"/>
                            <label for="estado">Maranhao</label>
                            <div class="check">
                                <div class="checked"></div>
                            </div>
                        </div>              
                    </li>
                    <li>
                        <div class="row">
                            <input type="radio" name="estado"/>
                            <label for="estado">Mato Grosso</label>
                            <div class="check">
                                <div class="checked"></div>
                            </div>
                        </div>              
                    </li>
                    <li>
                        <div class="row">
                            <input type="radio" name="estado"/>
                            <label for="estado">Mato Grosso do Sul</label>
                            <div class="check">
                                <div class="checked"></div>
                            </div>
                        </div>              
                    </li>
                    <li>
                        <div class="row">
                            <input type="radio" name="estado"/>
                            <label for="estado">Minas Gerais</label>
                            <div class="check">
                                <div class="checked"></div>
                            </div>
                        </div>              
                    </li>
                    <li>
                        <div class="row">
                            <input type="radio" name="estado"/>
                            <label for="estado">Para</label>
                            <div class="check">
                                <div class="checked"></div>
                            </div>
                        </div>              
                    </li>
                    <li>
                        <div class="row">
                            <input type="radio" name="estado"/>
                            <label for="estado">Paraiba</label>
                            <div class="check">
                                <div class="checked"></div>
                            </div>
                        </div>              
                    </li>
                    <li>
                        <div class="row">
                            <input type="radio" name="estado"/>
                            <label for="estado">Parana</label>
                            <div class="check">
                                <div class="checked"></div>
                            </div>
                        </div>              
                    </li>
                    <li>
                        <div class="row">
                            <input type="radio" name="estado"/>
                            <label for="estado">Pernambuco</label>
                            <div class="check">
                                <div class="checked"></div>
                            </div>
                        </div>              
                    </li>
                    <li>
                        <div class="row">
                            <input type="radio" name="estado"/>
                            <label for="estado">Piaui</label>
                            <div class="check">
                                <div class="checked"></div>
                            </div>
                        </div>              
                    </li>
                    <li>
                        <div class="row">
                            <input type="radio" name="estado"/>
                            <label for="estado">Rio de Janeiro</label>
                            <div class="check">
                                <div class="checked"></div>
                            </div>
                        </div>              
                    </li>
                    <li>
                        <div class="row">
                            <input type="radio" name="estado"/>
                            <label for="estado">Rio Grande do Norte</label>
                            <div class="check">
                                <div class="checked"></div>
                            </div>
                        </div>              
                    </li>
                    <li>
                        <div class="row">
                            <input type="radio" name="estado"/>
                            <label for="estado">Rio Grande do Sul</label>
                            <div class="check">
                                <div class="checked"></div>
                            </div>
                        </div>              
                    </li>
                    <li>
                        <div class="row">
                            <input type="radio" name="estado"/>
                            <label for="estado">Rondonia</label>
                            <div class="check">
                                <div class="checked"></div>
                            </div>
                        </div>              
                    </li>
                    <li>
                        <div class="row">
                            <input type="radio" name="estado"/>
                            <label for="estado">Roraima</label>
                            <div class="check">
                                <div class="checked"></div>
                            </div>
                        </div>              
                    </li>
                    <li>
                        <div class="row">
                            <input type="radio" name="estado"/>
                            <label for="estado">Santa Catarina</label>
                            <div class="check">
                                <div class="checked"></div>
                            </div>
                        </div>              
                    </li>
                    <li>
                        <div class="row">
                            <input type="radio" name="estado"/>
                            <label for="estado">Sao Paulo</label>
                            <div class="check">
                                <div class="checked"></div>
                            </div>
                        </div>              
                    </li>
                    <li>
                        <div class="row">
                            <input type="radio" name="estado"/>
                            <label for="estado">Sergipe</label>
                            <div class="check">
                                <div class="checked"></div>
                            </div>
                        </div>              
                    </li>
                    <li>
                        <div class="row">
                            <input type="radio" name="estado"/>
                            <label for="estado">Tocantins</label>
                            <div class="check">
                                <div class="checked"></div>
                            </div>
                        </div>              
                    </li>
                    
                    <li>
                        <div class="row">
                            <input type="radio" name="estado"/>
                            <label for="estado">Tapetes</label>
                            <div class="check">
                                <div class="checked"></div>
                            </div>
                        </div>              
                    </li>
                </ul>
            </div>
    </ion-content>
    <div class="bar bar-footer row">
      <button class="button button-clear stable col col-50" ng-click="modal_estado.hide()">Cancelar</button>
      <button class="button icon-right ion-checkmark button-clear balanced col col-50 confirm hidden" ng-click="confirmarModalEstado()">Confirmar</button>
    </div>
</ion-modal-view>
