<ion-view view-title="FORMA DE PAGAMENTO" class="ativar-ultima-chance-l11" align-title="center">
    <ion-nav-buttons side="left">
        <button  menu-close class="button button-icon button-clear ion-android-arrow-back"  ng-click="backHistory()">
        </button>
    </ion-nav-buttons> 
    <ion-content class="animate-fade-slide-in">
        <div class="bg-img_bglancevencedor"> 
            <h3 class="alter-title">Não deu certo com o <br>Lance Vencedor?</h3>
        </div>          
        <div class="screen-content padding">            
            <div class="content-center"> 
                <p>Você pode dar aos vendedores participantes do leilão uma última chance para apresentar as melhores condições para seu carro.  </p>
                <p>Ao clicar em <strong>Última Chance</strong>, todos os vendedores serão notificados e terão mais 24 horas para darem novos lances. Boa sorte!</p>                
            </div>
            <div class="content-bottom">
                <button ui-sref="app.meusleiloes.andamento" class="button button-block button-balanced">Última Chance</button>
            </div>
        </div>
    </ion-content>
</ion-view>
