<ion-view view-title="Vendedor" class="vendedor">      
    <ion-tabs class="tabs-positive tab-cadastrar">         
        <ion-tab title="Em Andamento" ui-sref="app.vendedor-cadastrar" align-title="center">
            <ion-nav-view  name="leilao-em-andamento"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Login" ui-sref="vendedor-login" align-title="center">
            <ion-nav-view  name="leilao-em-andamento"></ion-nav-view>
        </ion-tab>
        <ion-content class="animate-fade-slide-in"  ng-controller="CadastroVendedorCtrl">  
    </ion-tabs>    
</ion-view>
